body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-image: url('../background/theoismo-light.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
    margin-bottom: 2px;
}

.countdown {
    position: fixed;
    top: 40px;
    right: 20px;
    background-color: #3e0404cc;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.4s ease, transform 0.4s ease;

}

.carta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 103, 172, 0.6);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    padding: 40px;
    width: 250px;
    /* Largura da carta */
    height: 300px;
    /* Altura da carta */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.carta::before {
    content: '';
    position: absolute;
    top: 10px;
    /* Ajuste conforme necessário */
    left: 10px;
    /* Ajuste conforme necessário */
    width: 65px;
    /* Largura do selo */
    height: 50px;
    /* Altura do selo */
    background-image: url('../background/selo.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carta::after {
    content: '✉️';
    /* Emoji de envelope como exemplo */
    position: absolute;
    top: 80px;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 36px;
    /* Tamanho do emoji */
}

.carta:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.pagina {
    display: none;
    text-align: center;
    background-color: rgba(0, 103, 172, 0.6);
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s;
}

.pagina:hover {
    transform: scale(1.05);
}

#voltar {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #6200ea;
    cursor: pointer;
}

.audio-player {
    display: flex;
    align-items: center;
    background-color: rgba(0, 103, 172, 0.6);
    border-radius: 8px;
    padding: 10px;
    width: 300px; /* Largura do player */
    margin: 20px auto; /* Centraliza o player */
    transition: transform 0.3s;
}

.audio-player:hover {
    transform: scale(1.05);
}

.controls {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    color: #ffeb3b; /* Cor ao passar o mouse */
}

input[type="range"] {
    -webkit-appearance: none; /* Remove estilo padrão do slider */
    width: 85px; /* Largura do slider */
    height: 5px; /* Altura do slider */
    background: #ddd; /* Cor de fundo do slider */
    border-radius: 5px;
    outline: none; /* Remove contorno */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove estilo padrão do thumb */
    appearance: none; /* Para outros navegadores */
    width: 15px; /* Largura do thumb */
    height: 15px; /* Altura do thumb */
    border-radius: 50%; /* Forma redonda */
    background: rgba(152, 209, 247); /* Cor do thumb */
    cursor: pointer;
}