body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-image: url('../background/theoismo-light.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: rgb(46, 44, 44);
    padding: 10px 0;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(46, 44, 44);
    font-weight: bold;
    text-align: right;
    padding: 10px 0; 
}

.countdown {
    position: fixed;
    top: 40px;
    right: 20px;
    background-color: #3e0404cc;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.4s ease, transform 0.4s ease;

}

.carta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 206, 207, 0.8);
    color: rgb(46, 44, 44);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    padding: 40px;
    width: 250px;
    height: 304px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.carta-content {
    position: relative;
    z-index: 1;
}

.carta::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url('../background/borda.png');
    background-size: cover;
    border-radius: 15px;
    z-index: 0;
}

.carta::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 75px;
    transform: translate(-50%, 0);
    width: 65px;
    height: 50px;
    background-image: url('../background/selo.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.carta:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.pagina {
    display: none;
    text-align: center;
    background-color: rgba(204, 206, 207, 0.8);
    color: rgb(46, 44, 44);
    border-radius: 10px;
    padding: 40px;
    width: 550px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.pagina h1 {
    margin: 20px 0;
}

.pagina p {
    margin: 10px 0;
}

.pagina:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

#voltar {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
}

#voltar::before {
    content: '';
    background-image: url('../background/voltar.svg'); 
    background-size: contain; 
    background-repeat: no-repeat;
    position: absolute;
    width: 24px; 
    height: 24px;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.voltar:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.audio-player {
    display: flex;
    align-items: center;
    background-color: rgba(0, 103, 172, 0.6);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
    transition: transform 0.3s;
}

.audio-player:hover {
    transform: scale(1.05);
}

.controls {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    color: #ffeb3b;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 85px;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(152, 209, 247);
    cursor: pointer;
}